/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body .contact-info .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .contact-info .box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .sm-header {
  color: #5863e3;
  font-size: 16px;
}
body .header {
  color: black;
  font-size: 50px;
  max-width: 370px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
body form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  max-width: 1150px;
  width: 100%;
  margin-bottom: 50px;
}
body form textarea {
  resize: none;
  width: 64%;
  height: 300px;
  border: 2px solid rgb(212, 211, 211);
  padding: 20px;
  min-width: 250px;
}
@media (max-width: 750px) {
  body form textarea {
    width: 90%;
  }
}
body form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 34%;
  min-width: 250px;
}
body form .inputs input {
  height: 60px;
  border: 2px solid rgb(212, 211, 211);
  padding: 20px;
  width: 100%;
}
@media (max-width: 750px) {
  body form .inputs input {
    width: 45%;
  }
}
@media (max-width: 480px) {
  body form .inputs input {
    width: 100%;
  }
}
body form .inputs input[type=submit] {
  border: 0;
  background-color: #5968f4;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
body form .inputs input[type=submit]:hover {
  background-color: lightblue;
}
@media (max-width: 750px) {
  body form .inputs {
    width: 90%;
    flex-direction: row;
  }
}
body .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 220px;
  max-width: 1150px;
  width: 100%;
}
body .contact-info .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
body .contact-info .box .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5968f4;
  font-size: 26px;
}
body .contact-info .box p {
  color: black;
  font-size: 20px;
}
body .contact-info .box span:not(.icon) {
  font-size: 16px;
  color: #99999a;
}
@media (max-width: 950px) {
  body .contact-info {
    gap: 20px;
  }
}
@media (max-width: 480px) {
  body .contact-info {
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */