$primary-color: red;
$secondary-color: #99999a;
$nav-color: #5863e3;

$primary-bg-color: #5968f4;

$primary-border-color: rgba(212, 211, 211, 1);

$fs-s: 16px;
$fs-m: 20px;
$fs-l: 26px;
$fs-xl: 50px;

$padd-sm: 16px;
$padd-m: 20px;
$padd-l: 24px;
