@use "reset";
@use "variables";
@use "placeholders";
@use "mixins";

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  .sm-header {
    color: variables.$nav-color;
    font-size: variables.$fs-s;
  }

  .header {
    color: variables.$primary-color;
    font-size: variables.$fs-xl;
    max-width: 370px;
    @include mixins.w-h(100%, auto);
    margin-bottom: 20px;
  }

  form {
    @include mixins.flex(2%, row, space-around);
    max-width: 1150px;
    width: 100%;
    margin-bottom: 50px;

    textarea {
      resize: none;
      @include mixins.w-h(64%, 300px);
      border: 2px solid variables.$primary-border-color;
      padding: variables.$padd-m;
      min-width: 250px;

      @media (max-width: 750px) {
        width: 90%;
      }
    }

    .inputs {
      @include mixins.flex(20px, column);
      width: 34%;
      min-width: 250px;

      input {
        height: 60px;
        border: 2px solid variables.$primary-border-color;
        padding: variables.$padd-m;
        width: 100%;

        @media (max-width: 750px) {
          width: 45%;
        }

        @media (max-width: 480px) {
          width: 100%;
        }
      }

      input[type="submit"] {
        border: 0;
        background-color: variables.$primary-bg-color;
        color: white;
        font-size: variables.$fs-s;
        transition: background-color 0.3s linear;
        cursor: pointer;

        &:hover {
          background-color: lightblue;
        }
      }

      @media (max-width: 750px) {
        width: 90%;
        flex-direction: row;
      }
    }
  }

  .contact-info {
    @include mixins.flex(220px, row, space-around);
    max-width: 1150px;
    width: 100%;

    .box {
      @include mixins.flex(8px, column, center);

      .icon {
        @include mixins.w-h(70px, 70px);
        border-radius: 50%;
        background-color: variables.$primary-bg-color;
        @extend %flex-center;
        font-size: variables.$fs-l;
      }

      p {
        color: variables.$primary-color;
        font-size: variables.$fs-m;
      }

      span:not(.icon) {
        font-size: variables.$fs-s;
        color: variables.$secondary-color;
      }
    }

    @media (max-width: 950px) {
      gap: 20px;
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
}
